---
// Import your React components
import { Navbar } from '../components/Layout/Navbar';
import { Footer } from '../components/Layout/Footer';
import { MONTHLY_SUM_PRICE } from '../assets/data/pricing';
// You can also receive props in your layout
interface Props {
	title?: string;
	description?: string;
}

const { title = "Deer Lakes Web Design", description = `An elegant and effective online presence doesn't have to break the bank. Get a 100% hand coded website for your business starting at $${MONTHLY_SUM_PRICE}/mo.` } = Astro.props;
const GOOGLE_ANALYTICS_ID = 'G-XY34C1C1DR'
---

<!doctype html>
<html lang="en">
	<head>
		<!-- Google tag (gtag.js) -->
		<script type="text/partytown" async src={`https://www.googletagmanager.com/gtag/js?id=${GOOGLE_ANALYTICS_ID}`}></script>
		<script type="text/partytown">
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', GOOGLE_ANALYTICS_ID);
		</script>

		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{`${title} | Deer Lakes Web Design`}</title>
		<meta name="description" content={description || "Deer Lakes Web Design is a web design company that specializes in creating beautiful, responsive websites for small businesses."} />
		<meta property="og:type" content="website" />
		<meta property="og:url" content={Astro.url.href} />
		<meta property="og:image" content="/images/DLWD_logo_small.webp" />
		<meta property="og:title" content={`Deer Lakes Web Design`} />
		<meta property="og:site_name" content="Deer Lakes Web Design" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		
		<link rel="canonical" href={Astro.url.href} />




		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap" 
			rel="preload" as="style"
			onload="this.onload=null;this.rel='stylesheet'" />
		
		
		<noscript>
			<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap" 
				rel="stylesheet" />
		</noscript>
	</head>
	<body class="page">
		<Navbar currentPath={Astro.url.pathname} client:load />
		<main>
			<slot />
		</main>
		<Footer/>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
